.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dddddd;
}

th {
  padding: 8px 20px;
  background: #ececec;
}

caption {
  padding: 8px 10px;
  border: 1px solid #dddddd;
  border-bottom: none;
  border-collapse: collapse;
  text-align: left;
  font-weight: bold;  
}